.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.pagelink {
  list-style: none;
}
.pageitem {
  list-style: none;
  padding: 8px 20px;
  border: 1px solid #d3d3d3;
  border-right: none;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  color: #0d6efd;
  cursor: pointer;
}
.pageitem:hover {
  background-color: #e9ecef;
}
.prevpageitem {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin: 2px 0px;
  padding: 8px 20px;
  list-style: none;
  display: flex;
  align-items: center;
  color: #0d6efd;
  border: 1px solid #d3d3d3;
  border-right: none;
  cursor: pointer;
}
.prevpageitem:hover {
  background-color: #e9ecef;
}
.nextpageitem {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin: 2px 0px;
  padding: 8px 20px;
  list-style: none;
  display: flex;
  align-items: center;
  color: #0d6efd;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}
.nextpageitem:hover {
  background-color: #e9ecef;
}
.active {
  background-color: #0d6efd;
  color: #ffffff;
}
.active:hover {
  background-color: #0d6efd;
}
.pagination {
  display: flex;
  justify-content: center;
  /* display: flex; */
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
