.container {
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #f50057;
  border-radius: 4px;
  max-width: 400px;
}

.loginLabel {
  font-size: 28px;
  font-weight: 600;
  color: #f50057;
  text-transform: uppercase;
}
.inputContainer {
  padding-top: 20px;
}
.inputholder {
  padding: 4px;
}
.input {
  width: 310px;
}

.submitBtn {
  padding: 4px 28px;
}
